# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/storage/*
!/storage/.keep
/db/*.sqlite3
/db/*.sqlite3-*

# Ignore credentials files -- we don't have a way to check them back in from the production host anyhow.
/config/master.key
/config/credentials.yml.enc

# Ignore node_modules and JS assets
/node_modules
/public/assets

# Mastodon credentials
/config/mastodon.json

# Ignore vendored gems, because we roll hard like that.
/vendor
